apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "firefly-db.fullname" . }}-postgre-db
  labels:
    app: {{ template "firefly-db.name" . }}
    chart: {{ template "firefly-db.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      pod-label: {{ template "firefly-db.fullname" . }}-pod
  template:
    metadata:
      labels:
        pod-label: {{ template "firefly-db.fullname" . }}-pod
    spec:
      containers:
      - name: {{ template "firefly-db.fullname" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        envFrom:
        {{- if not .Values.configs.existingSecret }}
        - configMapRef:
            name: {{ template "firefly-db.fullname" . }}-config
        {{- else }}
        - secretRef:
            name: {{ .Values.configs.existingSecret }}
        {{- end }}
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        volumeMounts:
          - name: db-storage
            mountPath: /var/lib/postgresql
            subPath: data
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: {{ default (printf "%s-%s" (include "firefly-db.fullname" .) "storage-claim") .Values.storage.existingClaim }}
