apiVersion: v2
name: firefly-iii-stack
description: Installs Firefly III stack (db, app, importer)
home: https://github.com/firefly-iii/kubernetes
icon: https://raw.githubusercontent.com/firefly-iii/firefly-iii/main/.github/assets/img/logo-small.png
type: application
version: 0.9.1
dependencies:
  - name: firefly-db
    version: 0.2.9
    condition: firefly-db.enabled
    repository: file://../firefly-db
  - name: firefly-iii
    version: 1.9.12
    condition: firefly-iii.enabled
    repository: file://../firefly-iii
  - name: importer
    version: 1.5.1
    condition: importer.enabled
    repository: file://../importer
sources:
  - https://github.com/firefly-iii/kubernetes
maintainers:
  - name: morremeyer
    email: firefly-iii@mor.re
